body {
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: 15px;
}

p a {
    text-decoration: none;
    color: #000;
    margin-right: 5px;
}

.fa {
    vertical-align: middle;
}

.navigation {
    border-top: 5px solid #000;
    text-align: center;
}

.navigation ul {
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin: 0 0 50px;
    padding: 4px 20px;
    background-color: #000;
    border-radius: 0px 0px 10px 10px;
}

.navigation ul li {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    font-size: 24px;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.navigation ul li a {
    text-decoration: none;
    color: #f1f1f1;
    margin-bottom: 0;
    padding: 10px;
}

#header {
    margin-bottom: 30px;
}

#header h1,
#header h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#header h2 {
    font-size: 24px;
}

@media (min-width: 550px) {
    .border-div {
        position: absolute;
        top: 0px;
        left: 50%;
        bottom: 0px;
        right: 0px;
        border-left: 2px #000 solid;
    }
}

.border-div {
    position: absolute;
    top: 0px;
    left: 50%;
    bottom: 0px;
    right: 0px;
    width: 2px;
}

#left {
    text-align: right;
}

h5 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
}

.time {
    margin-top: -20px;
    font-style: italic;
}

#left h4 {
    color: #f1f1f1;
    display: inline-block;
    background: #000;
    text-align: right;
    margin-right: -4.5%;
    padding: 0px 20px 0px 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#right h4 {
    color: #f1f1f1;
    display: inline-block;
    background: #000;
    text-align: left;
    margin-left: -4%;
    padding: 0px 5px 0px 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.img-circle {
    display: block;
    border-radius: 50%;
    max-width: 250px;
    margin: 0 auto;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 2px;
    width: 100%;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #272525;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #42403F;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 600px;
    padding: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    line-break: auto;
}

.popover form {
    padding: 10px;
}

.popover>.arrow {
    border-width: 11px;
}

.popover>.arrow,
.popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0;
}

.popover textarea {
    height: 200px;
}